html,
body {
	padding: 0;
	margin: 0;
	position: relative;
}
html body * {
	font-family: Century Gothic, Arial, sans-serif;
	color: #FFF;
}
html {
	height: 100%;
	font-size: 0.6em;
	background: #112;
}
header,
footer {
	margin: 0;
	padding: 0.5rem 0;
	text-shadow: #112 0px 2px 0px;
	margin-bottom: 0.5em;
	position: relative;
}
hr {
	background: #112;
	height: 0;
	width: auto;
	right: 0;
	left: 0;
	border-bottom: solid 1px #445;
	border-right: solid 1px #445;
	border-left: solid 2px #112;
	border-top: solid 2px #112;
}
hr.vertical {
	display: inline-block;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	background: #112;
	border-bottom: solid 1px #445;
	border-right: solid 1px #445;
	border-left: solid 2px #112;
	border-top: solid 2px #112;
	padding: 0;
	margin: auto;
}
#page {
	max-width: 75em;
	background: #334;
	min-height: 100%;
	margin: auto;
	top: 2em;
	left: 2em;
	right: 2em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 2em;
	position: absolute;
	border: solid 1px #445;
}
main,
header {
	width: 100%;
	position: relative;
}
main{
	display: block;
	white-space: nowrap;
}
section {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	padding: 1%;
}
section h2 {
	padding: 0.5em;
	margin: 0;
	text-shadow: #112 0px 2px 0px;
}
canvas,
img,
ul li div {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}
#work-area {
	display: none;
}
#output-img {
	width: 100%;
	background-color:#112;
	background-image:url("transparencyPattern.png");
	background-size: 4%;
	background-repeat: repeat;
}#output-json{
	white-space: normal;
	word-break: break-all;
}
a img{
	border:none;
	outline:none;
}
.square-wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 1px solid #334;
	border-style: groove;
}
label {
	display: block;
}
button {
	background-color: #112;
	border-color: #334;
	border-style: groove;
	cursor: pointer;
	padding: 0.25em;
	margin: 0;
	/*background: #797D48;
  border-radius: 50%;
  font-weight: bolder;
  color: #FFF;
  text-shadow:
  #18190E 0px -1px 0px;
  border:0;
  padding:0.5em;*/
	
	border-radius: 5px;
	vertical-align: middle;
}
button:hover {
	background: #334;
	border-style: ridge;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
	padding-left: 0.3em;
	padding-right: 0.2em;
}
input,
textarea {
	background: #112;
	border-color: #334;
	border-style: groove;
	max-width: 100%;
	vertical-align: middle;
}
ul,
textarea {
	display: block;
	height: 20rem;
	overflow-y: auto;
	background: #112;
	box-shadow: inset 0px 0px 16px #000;
	border-radius: 8px;
	min-height: 64px;
	padding: 16px;
	border: 0;
	resize: none;
	width: 100%;
	box-sizing: border-box;
}
ul {
	list-style: none;
	margin: 0;
}
ul li {
	display: block;
	white-space: nowrap;
}
ul li div {
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background-color: #445;
	background-position: center center;
	background-repeat: no-repeat no-repeat;
	background-size: contain;
	border-radius: 50%;
	border: 0;
}
ul li span {
	width: 20em;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}